<div>
  <div class="home jumbotron centered">

    <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
      <tr>
                      <th style="width: 10%"></th>
                      <th style="width: 20%">
                          <mfDefaultSorter by="name">Name</mfDefaultSorter>
                      </th>
                      <th style="width: 40%">
                          <mfDefaultSorter by="email">Email</mfDefaultSorter>
                      </th>
                      <th style="width: 10%">
                          <mfDefaultSorter by="age">Age</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                          <mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>
                      </th>
    </tr>

    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
                        <td>
                            <button (click)="remove(item)" class="btn btn-danger">x</button>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td class="text-right">{{item.age}}</td>
                        <td>{{item.city | uppercase}}</td>
                    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>

<hr/>

    <!-- <h1>Welcome to the angular2 authentication sample!</h1> -->
    <h2 *ngIf="jwt">Your JWT is:</h2>
    <pre *ngIf="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>Click any of the buttons to call an API and get a response</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <h2 *ngIf="response">The response of calling the <span class="red">{{ api }}</span> API is:</h2>
    <h3 *ngIf="response">{{ response }}</h3>
  </div>
</div>
